<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href = "../assets/css/css_registro.css">
    <title>Registrar Usuario</title>
    <style>
        body {
          background-color: #DFDFDF;
        }
        </style>
</head>
<body>
    <header class="bg-white p-4 ">
        <div class="titulo"><b>REGISTRO DE USUARIO</b></div>
    </header>

    <div class="container bg-white mt-5 p-4">
        <div class="form-group">
            <label for="nombre">Nombre:</label><br>
            <input type="text"  class="form-control"  id="nombre" placeholder="Ingrese su nombre"><br>
            <label for="nombreuser">Nombre de usuario:</label><br>
            <input type="text"  class="form-control"  id="nombreuser" placeholder="Ingrese nombre de usuario"><br>
            <label for="pass">Contraseña:</label><br>
            <input type="text"  class="form-control"  id="pass" placeholder="Ingrese contraseña"> <br>
            <div class="d-flex justify-content-between">
               <a href="../index.html" class="text-danger">Volver a iniciar sesión</a>
                <button onclick="" class="btn btn-primary" id="botonIn">REGISTARME</button>
            </div>
        </div>
    </div>
<script src="../assets/js/logic_registro.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>